@use "intro";
@use "about";
@use "skills";
@use "projects";
@use "footer";

.main {
  padding: 1rem;
  grid-area: main;
  display: grid;
  grid-template-areas:
    "intro"
    "about"
    "skills"
    "projects"
    "contact";
  grid-template-columns: auto;
  grid-template-rows: 1fr repeat(6, auto);
  gap: 2rem;
}
