@use "variables";

.container__card {
  grid-area: projects;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-family: variables.$font-family-one;

  .card {
    padding-bottom: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: variables.$card-background-color;
    line-height: 1.5;

    .card__img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .card__title {
      margin-top: 0.5rem;
      font-size: 1.2rem;
    }

    .card__links {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
    
      .links__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        margin-top: 1rem;
        padding: 0.5rem 0.9rem;
        font-size: 1rem;
        border: 2px solid #fff;
        border-radius: 10px;
  
        i {
          font-size: 1.5rem;
          margin-right: 1rem;
        }
      }
    }
  }
}
