$background-color: #191c25;
$skill-background-color: #303646;
$card-background-color: #303646;
$btn-color: #303646;
$font-color: #fff;
$btn-resume-background: #fff;
$font-family-one: "Montserrat", sans-serif;
$font-family-two: "Roboto", sans-serif;
